.perspective-1000 {
    perspective: 1000px;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.flip-card-container {
    perspective: 1000px;
    width: 360px;
    height: 370px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    padding: 1rem;
    /* Adjust padding to match */
    box-sizing: border-box;
    /* Ensure padding does not exceed container width */
}

.flip-card-front {
    background-color: #ffffff;
    border: 2px solid #004D80;
    /* Custom blue color */
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.flip-card-back {
    background-color: #ffffff;
    border: 2px solid #004D80;
    /* Custom blue color */
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ensure that the flip-card-back is hidden until flipped */
.flip-card-front {
    z-index: 2;
    /* Ensure front is on top */
}

.flip-card-back {
    z-index: 1;
    /* Ensure back is below front */
}

/* Style for the dots */
.slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.slick-dots li button {
    position: relative;
    width: 10px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slick-dots li button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #004D80;
    border-radius: 50%;
}

.slick-dots li {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    transform: none;
}

.slick-slide {
    transform: none !important;
    opacity: 1;
}

.slick-center .service-card {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.slick-slide {
    transition: transform 0.5s;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-slide:not(.slick-center) {
    opacity: 0.6;
    transform: scale(0.9);
}

.shadow-2xl {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}